<div>
    <div class="topic-header">
    	<h3>{{topic.title}}</h3>
      <div class="right" >
        <p class="tab top">{{topic|articleType}}</p>
        <p>{{topic.visit_count}}次浏览</p>
      </div>

      	<div class="userPanel">
          <img *ngIf="topic.author" [src]="topic.author.avatar_url" alt="" />
          <div>
            <p [routerLink]="['/perinfo', topic.author.loginname]" *ngIf="topic.author">{{topic.author.loginname}}</p>
            <p>{{topic.create_at | date:'yyyy-MM-dd hh:mm:ss'}}</p>
          </div>
        </div>
    </div>
    <div class="topic-content" [innerHTML]="topic.content"></div>
    <app-reply-list *ngIf="topic.replies" [replyList]="topic.replies"></app-reply-list>
    <div>
      <form class="reply-form">
        <textarea></textarea>
        <button type="submit"(click)="submit($event)">回复</button>
      </form>
    </div>
  </div>