

<div id="app" [ngClass]="{ 'offcanvas-page': isShowNavbar,
                           'show-offcanvas': isShowNavbar}">
    <app-nav-bar [isShowNavbar]="isShowNavbar" [isLogin]="isLogin" (onNavigate)="onNavigate($event)" (onToggle)="onToggle($event)"></app-nav-bar>
    <main>
      <app-header-bar [isShowNavbar]="isShowNavbar" [title]="title"  (onToggle)="onToggle($event)"></app-header-bar>
      <div id="content">
        <router-outlet></router-outlet> 
      </div>
    </main>
    <!--<vconfirm :is-show-confirm.sync="isShowConfirm" :is-show-sidebar.sync="isShowSidebar" :is-login.sync="isLogin">
      <h3 slot="body">确认注销当前账号吗？</h3>
    </vconfirm>-->
  </div>



