.topic-list li{
			padding: 10px 8px;
			overflow: hidden;
			background-color: #fff;
			border-bottom: 1px solid #d5dbdb;
  	 }
  	 
  	 .topic-list .tab{
  	 	border-radius: 4px;
  	 	padding: 3px 6px;
  	 	color: #fff;
  	 	font-size: 14px;
  	 	margin-right: 6px;
  	 }
  	 .topic-list h3{
  	 	margin-bottom: 8px;
  	 	line-height: 1.6
  	 }
  	 .topic-list .top .tab{
  	 	background-color: #E74C3C
  	 }
  	 .topic-list .share .tab{
  	 	background-color: #1ABC9C
  	 }
  	 .topic-list .job .tab{
			background-color: #9B59B6
  	 }
  	 .topic-list .ask .tab{
  	 	background-color: #3498DB
  	 }
  	 .topic-list .unknow .tab{
  	 	background-color: gray
  	 }
  	 
  
  	 .topic-list .info{
  	 	font-size: 14px;
  	 }
  	 .left>div{
  	 	float: right;
  	 	margin-left: 6px;
  	 }
  	 .info .right>p{
  	 	text-align: right;
  	 }
  	 .info p{
  	 	color: #34495e;
  	 	line-height: 1.6;
  	 	margin-bottom: 0;
  	 }
  	 .right strong{
  	 	color: #42b983
  	 }
		.title{
  	 	cursor: pointer;
  	 }
		.loadMoreBtn{
			width: 100%;
			max-width: none;

		}
    img{
      float: left;
      width: 44px;
      height: 44px;
      border-radius: 4px;
      margin-right: 6px;
    }
    div p{
      margin-bottom: 0;
      line-height: 22px;
    }

    .userPanel p{
      margin-bottom: 0;
      line-height: 22px;
    }

    .userPanel div>p:first-child{
      cursor: pointer;
    }