<div class="offcanvas">

    <nav class="offcanvas-bar">
      <div class="user">
        <div v-if="isLogin">
          <img src="#" alt="">
          <p>Jchehe</p>
        </div>
        <a v-else class="login"><i class="iconfont">&#xe604;</i>登录</a>


      </div>
      <ul v-for="(index, items) in itemSet">
      	<li v-for="item in items" v-link="{path: '/'+item.view, query:{'tab': item.tab}}" :class="{'active': item.tab == tab, 'tab': item.tab, 'unread': (item.view === 'message' && unreadCount > 0)}">
      		<a href="javascript:;">
      			<i class="iconfont">item.icon</i>
	      		item.name
            <span class="unreadTip" v-if="item.view==='message' && unreadCount !== 0">( unreadCount )</span>
      		</a>
      	</li>
        <li v-if="isLogin && index==itemSet.length -1"><a><i class="iconfont">&#xe60d;</i> 注销</a></li>
        
      </ul>
      <div class="logo">
        <img src="//o4j806krb.qnssl.com/public/images/cnodejs_light.svg" alt="">
      </div>
    </nav>
  </div>