.offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    z-index: 1001;
  }
  .user{
    text-align: center;
    padding: 60px 0 25px;
  }

  .user img, .user p{
    cursor: pointer;

  }
  .user img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0 0 1px 5px #3d4a5d;

  }
  
  .user img+p{
    color: #fff;
    line-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    margin: 5px auto;
  }
  .offcanvas .logo {
    text-align: center;
    padding: 14px 0;
    position: absolute;
    bottom: 0;
  }

  .offcanvas .logo img {
    width: 60%;
  }
  @media all and (max-width: 435px){
    .user{
      padding: 20px 0 0;
    }
    .user img+p{
      margin: 0 auto;
    }
    .offcanvas .logo{
      padding: 5px 0;
    }
    .offcanvas .logo img {
      width: 45%;
    }
  }
  .offcanvas-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 235px;
    background-color: #24344B;
    max-width: 100%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  
  .offcanvas-bar ul {
    margin-top: 14px;
    background-color: #2b3c58;
  }
  
  .offcanvas-bar ul li {
    line-height: 1.8;
    padding: 4px 24px;
  }
  .offcanvas-bar ul li a{
  	display: block;
  }
  .offcanvas .iconfont {
    margin-right: 8px;
  }
  
  .offcanvas a {
    color: #7f8c8d;
    text-decoration: none;
  }
  

  
  .v-link-active.tab.active, .v-link-active:not(.tab),.offcanvas-bar .tab.active{
    background-color: #3B4F6A;
  }
  .user .login{
    font-size: 16px;
  }

  .message .unreadTip{

  }

  li.unread .iconfont{
    color: #b1b15c;
    display: inline-block;
    transform-origin: 50% 0;
    animation: shake 2.5s linear infinite;
  }

  @keyframes shake{
    0%,100%{
      transform: rotateZ(0deg);
    }
    20%{
      transform: rotateZ(15deg);
    }
    80%{
      transform: rotateZ(-15deg);
    }
  }